.cust-profile{
	font-size: 220px;
}

.cust-list{
	font-size: 130px;
}

.text-pink{
	color: hotpink;
}

.extra-space{
	padding-bottom: 10px;
	padding-top: 10px;
}

.textUpper{
	text-transform: uppercase;
}

ol.carousel-indicators {
    left: 90%;
}

.navbar-inverse{
	background:#ffc000 !important;
}

.navbar-inverse .navbar-brand {
    color: #313131 !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #313131 !important;
}