<section data-ng-controller="HomeController">
<div ng-controller="MainController as main" ng-init="main.getCoords()">
  <accordion id = "panelClass">
    <accordion-group is-open="status.open" style="max-width:32em;">
      <accordion-heading>
       <div class="temp-now1"><div class=row style="margin-bottom: -4px;margin-left: -15px;margin-right: -15px;margin-top: -4px;"><div class=col-md-3>{{ main.kelvinToCelcius(main.dataCurrent.main.temp) }}<span style="vertical-align:0.40em;">&nbsp;&deg;C&nbsp;</span></div><div class="col-md-5"><div class="row fontsize"> {{main.searchBox}}</div><div class="row fontsize"> {{ main.dataCurrent.weather[0].description }}</div></div><div class="col-md-3"><span class="icon big1">{{ main.icon }}</span></div><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-up': !status.open}"></i></div></div>
      </accordion-heading>
   <section id="colour" class="card" ng-class="main.cardColour" ng-cloak>
    <div class="top">
      <span class="icon big">{{ main.icon }}</span>
      <p class="temp-now">{{ main.kelvinToCelcius(main.dataCurrent.main.temp) }}<span>&nbsp;&deg;C</span></p>
      <p class="weather-now">{{ main.dataCurrent.weather[0].description }}</p>
      <p class="highlow">&#x25B2; {{ main.kelvinToCelcius(main.dataDaily.list[0].temp.max) }}&nbsp;&deg;C / &#x25BC; {{ main.kelvinToCelcius(main.dataDaily.list[0].temp.min) }}&nbsp;&deg;C</p>
    </div>

    <div class="location-panel">
      <form class="search" ng-submit="main.search(main.searchBox)">
        <input ng-model="main.searchBox" class="location" name="location" type="text" ng-click="main.searchClick()" ng-blur="main.searchBlur()" value=""></input>
      </form>
      <span class="or">or</span>
      <button ng-click="main.getCoords()" class="btn-locate buttonstyle">Locate Me</button>
    </div>

    <div class="bottom">
      <div class="left1">
        <span class="icon">F</span>
        <p style="margin: 0 0 5px;">Wind speed: <span class="info">{{ main.dataCurrent.wind.speed }} m/s</span></p>
        <p style="margin: 0 0 5px;">Humidity: <span class="info">{{ main.dataCurrent.main.humidity }}%</span></p>
      </div>
      <div class="right1">
        <span class="icon">A</span>
        <p>Sunrise: <span class="info">{{ main.dataCurrent.sys.sunrise * 1000 | date : 'shortTime' }}</span></p>
        <p>Sunset: <span class="info">{{ main.dataCurrent.sys.sunset * 1000 | date : 'shortTime' }}</span></p>
      </div>
    </div>
  </section>

  <!-- Extra info when using Locate Me button -->
  <!-- <section class="card pull-right" ng-show="main.lat"  ng-cloak>
    <p>Coordinates: [{{ main.lat }}, {{ main.lon }}]</p>
    <div ng-bind-html="main.locationImg"></div>
  </section> -->
    </accordion-group>
</accordion>
</div>
  <div class="jumbotron text-center" style="height: 430px; padding: 5px !important;">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12" style="height: 390px">
        <carousel interval="myInterval" no-wrap="noWrapSlides">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="height: 390px;width: 936px" class="img-responsive text-center">
            <div class="carousel-caption">
              <p>
                <a class="btn btn-primary btn-sm" href="https://en.wikipedia.org/wiki/Insurance" target="_blank">Learn more</a>
              </p>
            </div>
          </slide>
        </carousel>
      </div>
      <!-- <div class="col-md-8 col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-12">
        <img alt="Insurance" style="height: 300px;width: 700px" class="img-responsive text-center" src="modules/core/img/brand/insurance-arrow.jpg" />
      </div> -->
    </div>
    <div class="row">
      <p class="lead">
        Insurance is a means of protection from financial loss.
      </p>
    </div>
  </div>
  <div class="col-md-5 col-sm-6 pull-right news-feed" data-ng-controller="FeedCtrl">
          <h5 class="text-center" style="color: blue;text-decoration: underline;margin-bottom: -6px;"><strong>Latest News Feeds from CNN</strong></h5>
          <carousel interval="myInterval" no-wrap="noWrapSlides">
            <slide ng-repeat="feed in feeds" active="feed.active">
              <h5><a href="{{feed.link}}">{{feed.title}}</a></h5>
                    <p class="text-left">{{feed.contentSnippet}}</p>                    
                    <span class="small">{{feed.publishedDate}}</span>
            </slide>
          </carousel>
  </div>
  <div>
    <p><strong>General insurance or non-life insurance</strong> policies, including automobile and homeowners policies, provide payments depending on the loss from a particular financial event. General insurance is typically defined as any insurance that is not determined to be life insurance. It is called property and casualty insurance in the U.S. and Canada and Non-Life Insurance in Continental Europe.</p>

    <p>All insurance excluding life insurance falls under general insurance.</p>

    <ul>
      <li>
        <p>General Insurance comprises of insurance of property against fire, burglary, theft etc.</p>
      </li>
      <li>
        <p>The non-life insurance companies also offer policies covering machinery against breakdown. A granite factory owner would like to buy a policy to cover his granite cutting machines.</p>
      </li>
      <li>
        <p>Further, insurance of motor vehicles against damages and theft forms a major chunk of non-life insurance spends.</p>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3><strong>Household</strong> Insurance</h3>
      <p><a target="_blank" href="https://en.wikipedia.org/wiki/Home_insurance"> Home insurance,</a> also commonly called hazard insurance or homeowner's insurance (often abbreviated in the US real estate industry as HOI), is a type of property insurance that covers a private residence.</p>
    </div>
    <div class="col-md-3">
      <h3><strong>Auto</strong> Insurance</h3>
      <p><a target="_blank" href="https://en.wikipedia.org/wiki/Vehicle_insurance"> Auto Insurance</a> (also known as car insurance, motor insurance or auto insurance) is insurance purchased for cars, trucks, motorcycles, and other road vehicles.</p>
    </div>
    <div class="col-md-3">
      <h3><strong>Business</strong> Insurance</h3>
      <p><a target="_blank" href="https://en.wikipedia.org/wiki/Business_interruption_insurance"> Business Insurance</a> (also known as business income insurance) is a type of insurance that covers the loss of income that a business suffers after a disaster.</p>
    </div>
    <div class="col-md-3">
      <h3><strong>Health</strong> Insurance</h3>
      <p><a target="_blank" href="https://en.wikipedia.org/wiki/Health_insurance"> Health insurance</a> is insurance against the risk of incurring medical expenses among individuals.</p>
    </div>
  </div>
  <div class="well">
    <h2>Why you need non-life insurance?</h2>
    <p>
      When one has earned and accumulated property, protecting it is prudent.One of the main reasons one should insure assets is to protect themselves against the financial losses likely to occur due to their destruction/ inability to perform. Anyone who owns a valuable asset can buy insurance to protect it against losses due to fire, theft, and so on.</p>

    <p>The law also requires us to be insured against some liabilities. This is to ensure that we can afford to pay compensation in case a liability arises. Once you have insurance, the responsibility of paying the compensation is transferred to an insurance company.</p>

    <p>That is, in case we should cause a loss to another person, that person is entitled to compensation (for e.g. the third party auto insurance, which is a compulsory part of the motor insurance we buy).
    </p>
  </div>
  <br>
  <div class="text-center">&copy;<i> Copyright 2016 - Pritam Mishra</i></div>
</section>
