<section data-ng-controller="CustomersCreateController as customerCreateCtrl">
  <div class="modal-header">
    <h3 class="modal-title">New Customer</h3>
  </div>
  <div class="modal-body">
    <form name="customerCreateForm">
      <fieldset>
        <div class="row">
          <div class="form-group">
            <div data-ng-show="error" class="text-center text-danger">
              <div class="alert alert-danger">
                <strong data-ng-bind="error"></strong>
              </div>
            </div>
          </div>
          <div class="col-sm-6 text-center">
            <i class="glyphicon glyphicon-user cust-profile" ng-class="{'text-primary':customerCreateCtrl.gender=='Male','text-pink':customerCreateCtrl.gender=='Female'}"></i>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="firstName">First Name*</label>
              <div class="controls">
                <input name="firstName" type="text" data-ng-model="customerCreateCtrl.firstName" id="firstName" class="form-control" placeholder="First Name*" required>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="middleName">Middle Name</label>
              <div class="controls">
                <input name="middleName" type="text" data-ng-model="customerCreateCtrl.middleName" id="middleName" class="form-control" placeholder="Middle Name">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="lastName">Last Name*</label>
              <div class="controls">
                <input name="lastName" type="text" data-ng-model="customerCreateCtrl.lastName" id="lastName" class="form-control" placeholder="Last Name*" required>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Gender</label>
                  <div class="controls">
                    <label class="radio-inline"><input type="radio" value="Male" name="gender" data-ng-model="customerCreateCtrl.gender">Male</label>
                    <label class="radio-inline"><input type="radio" value="Female" name="gender" data-ng-model="customerCreateCtrl.gender">Female</label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-xs-6">
                <div class="form-group">
                  <label class="control-label">Marital Status</label>
                  <div class="controls">
                    <label class="radio-inline"><input type="radio" value="Single" name="maritalStatus" data-ng-model="customerCreateCtrl.maritalStatus">Single</label>
                    <label class="radio-inline"><input type="radio" value="Married" name="maritalStatus" data-ng-model="customerCreateCtrl.maritalStatus">Married</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-sm-push-6">
            <div class="form-group">
              <label class="control-label" for="phoneNumber">Phone Number</label>
              <div class="controls">
                <input name="phoneNumber" type="text" ui-mask="(999) 999-9999" data-ng-model="customerCreateCtrl.phoneNumber" id="phoneNumber" class="form-control" placeholder="(___) ___-____">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="emailId">Email Id</label>
              <div class="controls">
                <input name="emailId" type="email" data-ng-model="customerCreateCtrl.emailId" id="emailId" class="form-control" placeholder="Email Id">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="language">Language Known</label>
              <div class="controls">
                <input name="language" type="text" data-ng-model="customerCreateCtrl.language" id="language" class="form-control" placeholder="Language Known">
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6">
            <div class="form-group">
              <label class="control-label">Date Of Birth</label>
              <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="customerCreateCtrl.dateOfBirth" myformat is-open="status.opened" datepicker-options="dateOptions" close-text="Close" max-date="maxDate" min-date="minDate" placeholder="DD-MON-YYYY" init-date="false"/>
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>
            {{customerCreateCtrl.dateOfBirth}}
            <div class="form-group">
              <label class="control-label" for="address">Address</label>
              <div class="controls">
              <input name="address" type="text" data-ng-model="customerCreateCtrl.address" id="address" class="form-control" placeholder="Address">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label" for="postalCode">Postal Code*</label>
              <div class="controls">
                <input name="postalCode" type="text" ui-mask="A9A 9A9" data-ng-model="customerCreateCtrl.postalCode" id="postalCode" class="form-control textUpper" required>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label" for="policyNumber">Policy Number*</label>
              <div class="controls">
                <input name="policyNumber" type="text" ui-mask="A9999999AAA" data-ng-model="customerCreateCtrl.policyNumber" id="policyNumber" class="form-control textUpper" required>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" type="button" ng-click="customerCreateCtrl.create(customer); ok(customerCreateForm.$valid)" ng-disabled="customerCreateForm.$invalid">Save & Close</button>&nbsp;&nbsp;&nbsp;
    <button class="btn btn-warning btn-lg" type="button" ng-click="cancel()">Cancel</button>
  </div>
  </section>
